src/lib/Radial/RiskService/Sdk/Xsd/File/RiskInsightFeedback.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://api.gsicommerce.com/schema/checkout/1.0"
            xmlns="http://api.gsicommerce.com/schema/checkout/1.0"
            version="1.0">

    <xsd:include schemaLocation="RiskServiceRequest.xsd"/>

    <xsd:element name="RiskServiceFeedback" type="RiskServiceFeedbackType"/>

    <xsd:complexType name="RiskServiceFeedbackType">
        <xsd:sequence>
            <xsd:element type="PrimaryLangIdType" name="PrimaryLangId" minOccurs="0"/>
            <xsd:element type="OrderIdType" name="OrderId"/>
            <xsd:element type="StoreIdType" name="StoreId"/>
            <xsd:element type="xsd:string" name="ActionTaken" minOccurs="0"/>
            <xsd:element type="xsd:string" name="ActionTakenDescription" minOccurs="0"/>
            <xsd:element type="xsd:boolean" name="ChargeBackFlag" minOccurs="0"/>
            <xsd:element type="xsd:string" name="ChargeBackFlagDescription" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
