src/lib/EbayEnterprise/RiskService/Sdk/Xsd/File/Bulk-Order-Service-Create-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://api.gsicommerce.com/schema/checkout/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.gsicommerce.com/schema/checkout/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="${project.version}">
  <xsd:include schemaLocation="Order-Service-Create-1.0.xsd"/>
  <xsd:element name="BulkOrderCreateRequest" type="BulkOrderCreateRequestType"/>
  <xsd:complexType name="BulkOrderCreateRequestType">
    <xsd:sequence>
      <xsd:element name="OrderCreateRequest" type="OrderCreateRequest" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
