src/lib/EbayEnterprise/RiskService/Sdk/Xsd/File/Order-Service-Create-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://api.gsicommerce.com/schema/checkout/1.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://api.gsicommerce.com/schema/checkout/1.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            version="${project.version}">

    <xsd:include schemaLocation="Order-Datatypes-Common-1.0.xsd"/>
    <xsd:element name="OrderCreateResponse" type="OrderCreateResponse" nillable="false"/>
    <xsd:element name="OrderCreateRequest" type="OrderCreateRequest" nillable="false"/>
    <xsd:simpleType name="NewOrderResponseStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Fail"/>
            <xsd:enumeration value="Success"/>
            <xsd:enumeration value="Timeout"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="OrderCreateResponse">
        <xsd:annotation>
            <xsd:documentation>Indicates if an order was created successfully.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ResponseStatus" type="NewOrderResponseStatus">
                <xsd:annotation>
                    <xsd:documentation>Specifies if the order was created successfully.

                        Allowable Values:
                        Fail - Order was not created
                        Success - Order was created
                        Timout - Order was not created due to timeout
                        Required: Yes
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ResponseDescription" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Text description of error.

                        Allowable Values: Text string
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="sessionId" type="RequestId" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="OrderCreateRequest">
        <xsd:sequence>
            <xsd:element name="Order" type="OrderRequestType"/>
            <xsd:element name="Context" type="OrderContext"/>
        </xsd:sequence>
        <xsd:attribute name="orderType" type="OrderType" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    Optional parameter to explicitly denote the type of order to create.
                    order is the default.

                    Allowable Values: Text string The type of order as defined in Sterling.
                    "SALES","RETURN", "PURCHASE", or "TRANSFER"
                    Required: No
                    Length: TBD
                    Default Value: "SALES"
                    Restrictions: N/A
                    Aliases: N/A
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="testType" type="TestType" use="optional">
            <xsd:annotation>
                <xsd:documentation>Optional attribute to send order as a test.

                    Denotes the order as a test order. Values for this attribute are set up within the OMS.
                    Allowable Values: annotation
                    TEST_WEBONLY - Webstore does not send the order to the Order service. This tests checkout flow on
                    the webstore, but the order is not sent to OMS. Useful for demo purposes.
                    TEST_AUTOCANCEL - Order is sent to OMS, which automatically cancels it. Tests that the order gets to
                    the OMS.
                    TEST_NORELEASE - OMS processes but does not ship the order. Tests payment activation, including
                    taxes.
                    TEST_AUTOSHIP - OMS automatically ships the order
                    Required: No
                    Length: TBD
                    Default Value: blank
                    Restrictions: If omitted, order is sent to OMS as a live non test order.
                    Aliases: N/A
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="requestId" type="RequestId" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">A unique identifier for the request. The client is responsible for
                    ensuring uniqueness across all requests the client initiates with this service.

                    Allowable Values: Text string
                    Required:Yes
                    Length: 40
                    Default Value: blank
                    Restrictions: N/A
                    Aliases: N/A
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="sessionId" type="RequestId" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="OrderRequestType">
        <xsd:annotation>
            <xsd:documentation>This is the top node for representing an Order</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Customer" type="Customer"/>
            <xsd:element name="CreateTime" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>The time the order generating application accepted the order.

                        Allowable Values: ISO 8601 standard with offset from UTC in datetime data format which is
                        yyyy-mm-ddTHH:mm:ss-hh:mm for e.g. 2012-01-11T14:19:05-06:00.
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OrderItems" type="OrderItemListRequestType"/>
            <xsd:element name="Shipping" type="ShippingRequestType"/>
            <xsd:element name="Payment" type="OrderPaymentType"/>
            <xsd:element name="ShopRunnerMessage" type="ShopRunnerMessageType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A promotional text message to display to the customer
                        Allowable Values: Normalized text string.
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Currency" type="ISOCurrencyCodeType">
                <xsd:annotation>
                    <xsd:documentation>The code that represents the type of currency being used for a
                        transaction.Currency codes are defined by ISO 4217:2008 See:
                        http://en.wikipedia.org/wiki/ISO_4217

                        Allowable Values: IS-4217 three-letter code.
                        Required: Only when a transaction amount is specified.
                        Length: 3
                        Default Value: blank
                        Restrictions: NMTOKEN
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Associate" type="Associate" minOccurs="0"/>
            <xsd:element name="TaxHeader" type="TaxHeader" minOccurs="0"/>
            <xsd:element name="PrintedCatalogCode" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Optional field to capture the catalog code found in some printed catalogs

                        Allowable Values: Text string
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Locale" type="LocaleCode" nillable="false">
                <xsd:annotation>
                    <xsd:documentation>Allowable Values: ISO-639 two-letter language code, an underscore (_) and
                        ISO-3166 two-letter code, for example: en_US
                        Required:Yes
                        Length: 5
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Relationships" type="OrderItemRelationships" minOccurs="0"/>
            <xsd:element name="DashboardRepId" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Optional field to capture the identification number of the representative who
                        created an order through the "Dashboard"

                        Allowable Values: Text string
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OrderSource" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Otherwise known as ORSO code in legacy systems. These fields are commonly used to
                        track where the customer/order originated.
                        http://confluence.tools.us.gspt.net/display/v11upgde/Determine+ORSO+work

                        Only to be used for Marketing and affiliate tracking, passed by entrypoint component in
                        Webstore.

                        Will be present only if referring url to website has values.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attribute name="type" type="xsd:string" use="required">
                                <xsd:annotation>
                                    <xsd:documentation>Only to be used for Marketing and affiliate tracking, passed by
                                        entrypoint component in Webstore. Will be present only if referring url to
                                        website has values.

                                        Allowable Values: Text string
                                        Required: Yes
                                        Length: TBD
                                        Default Value: blank
                                        Restrictions: N/A
                                        Aliases: N/A
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:attribute>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Holds" type="HoldList" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Customer Care</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CustomAttributes" type="CustomAttributesType" minOccurs="0"/>
            <xsd:element name="Templates" type="TemplatesType" minOccurs="0"/>
            <xsd:element name="OrderHistoryUrl" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Optional field passed by the web-store that contains the URL for their order
                        history page.

                        OMS will store this and publish it in the canonical email for Order.

                        Allowable Values: Text string
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="VATInclusivePricing" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indicates that the Value Added Tax (VAT) is contained in the item's price.

                        Allowable Values: Boolean
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OrderTotal" type="AmountBaseType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The total dollar amount of the order. Required for orders sent in bulk.

                        Represents a decimal currency with two decimal points. Sample value: 4.75.

                        Allowable Values: Two integers separated by a decimal point. The second integer must be two
                        characters in length.
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: Note that this indicates only a quantity, not the type of currency being used.
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>


            <xsd:element name="Subscriptions" type="SubscriptionsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>

                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="customerOrderId" type="OrderId" use="required">
            <xsd:annotation>
                <xsd:documentation>The order id generated by the webstore.

                    Allowable Values: Text string
                    Required: Yes
                    Length: TBD
                    Default Value: blank
                    Restrictions: N/A
                    Aliases: N/A
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="levelOfService" type="LevelOfService" use="optional">
            <xsd:annotation>
                <xsd:documentation>Level of service can be Regular or Rush and is used to identify the priority/urgency
                    with which the order must be processed.

                    Allowable Values: Text string
                    REGULAR
                    RUSH
                    Required: No
                    Length: TBD
                    Default Value: REGULAR
                    Restrictions: N/A
                    Aliases: N/A
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>


    <xsd:complexType name="OrderPaymentType">
        <xsd:sequence>
            <xsd:element name="BillingAddress">
                <xsd:annotation>
                    <xsd:documentation>
                        Billing Address references Destination Mailing Address
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="ref" type="xsd:IDREF">
                        <xsd:annotation>
                            <xsd:documentation>Contains the OrderID to which the item belongs.

                                Allowable Values: Text string
                                Required: Yes
                                Length: TBD
                                Default Value: blank
                                Restrictions: N/A
                                Aliases: N/A
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payments" type="PaymentsType" minOccurs="0"/>
            <!-- Minoccurs = 0???-->
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PaymentsType">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="CreditCard" type="CreditCardPaymentType"/>
            <xsd:element name="PrepaidCreditCard" type="PrepaidCreditCardPaymentType"/>
            <xsd:element name="Points" type="PrepaidPaymentType"/>
            <xsd:element name="StoredValueCard" type="StoredValueCardPaymentType"/>
            <xsd:element name="PayPal" type="PayPalPaymentType"/>
            <xsd:element name="PrepaidCashOnDelivery" type="PrepaidPaymentType"/>
            <xsd:element name="ReservationPayment" type="ReservationPaymentType"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="CreditCardPaymentType">
        <xsd:complexContent>
            <xsd:extension base="CardPaymentType">
                <xsd:sequence>
                    <xsd:element name="CreateTimeStamp" type="xsd:dateTime">
                        <xsd:annotation>
                            <xsd:documentation>The time the payment was authorized. Should come from the Payment Service
                                CreditCardAuthReply/MessageHeader/CreateTimestamp

                                Allowable Values: DateTime
                                Date text: ISO 8601 standard with offset from UTC in datetime data format which is
                                yyyy-mm-ddTHH:mm:ss-hh:mm for e.g. 2012-01-11T14:19:05-06:00.
                                Required: No
                                Length: TBD
                                Default Value: blank
                                Restrictions: N/A
                                Aliases: N/A
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Amount" type="AmountBaseType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The currency amount applied to the card. This may be different from the
                                order total in the case of multiple tenders.

                                Represents a decimal currency with two decimal points. Sample value: 4.75.
                                Allowable Values: Two integers separated by a decimal point. .The second integer must be
                                two characters in length.

                                Allowable Values: Text string
                                Required: No
                                Length: TBD
                                Default Value: blank
                                Restrictions: N/A
                                Aliases: N/A
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Authorization" type="CreditCardAuthorization"/>
                    <xsd:element name="ExpirationDate" type="YYYY-MMDateType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Optional for some credit card types. The date in YYYY-MM format.

                                Allowable Values: A valid four-digit year, followed by a dash and a two-digit month.
                                Required: No
                                Length: Seven characters, including the dash (-)
                                Default Value: blank
                                Restrictions: Best practice is to use a leading zero when entering months from January
                                (01) to September (09).
                                Aliases: N/A
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="StartDate" type="YYYY-MMDateType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Required to authorize some legacy Maestro UK cards.

                                Allowable Values: A valid four-digit year, followed by a dash and a two-digit month.
                                Required: No
                                Length: Seven characters, including the dash (-)
                                Default Value: blank
                                Restrictions: Best practice is to use a leading zero when entering months from January
                                (01) to September (09).
                                Aliases: N/A
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="IssueNumber" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Required to authorize some legacy Maestro UK cards.

                                Allowable Values: Text string
                                Required: No
                                Length: TBD
                                Default Value: blank
                                Restrictions: N/A
                                Aliases: N/A
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SecureVerificationData" type="SecureVerificationDataTypeRequest" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">
                                3D Secure (SecureCard / Verified by Visa)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="PurchasePlanCode" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Currently used for PLCC credit cards to identify the purchase plan code.

                                Allowable Values: Text string
                                Required: No
                                Length: TBD
                                Default Value: blank
                                Restrictions: N/A
                                Aliases: N/A
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="PurchasePlanDescription" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Currently used for PLCC credit cards to capture the purchase plan
                                description.

                                Allowable Values: Text string
                                Required: No
                                Length: TBD
                                Default Value: blank
                                Restrictions: N/A
                                Aliases: N/A
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomAttributes" type="CustomAttributesType" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
                <xsd:attribute name="isMockPayment" type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Field will be set to true if the PAN used in the request is
                            a mock PAN (e.g. 4111111111111111).

                            Allowable Values: Boolean
                            Required: No
                            Length: N/A
                            Default Value: False
                            Restrictions: N/A
                            Aliases: N/A
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="StoredValueCardPaymentType">
        <xsd:annotation>
            <xsd:documentation>
                StoredValueCard refers to a redeemable card such as a Gift Card or Gift Certificate
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="CardPaymentType">
                <xsd:sequence>
                    <xsd:element name="CreateTimeStamp" type="xsd:dateTime">
                        <xsd:annotation>
                            <xsd:documentation>The time the payment was authorized. Should come from the Payment Service
                                CreditCardAuthReply/MessageHeader/CreateTimestamp

                                Allowable Values: DateTime
                                Date text: ISO 8601 standard with offset from UTC in datetime data format which is
                                yyyy-mm-ddTHH:mm:ss-hh:mm for e.g. 2012-01-11T14:19:05-06:00.
                                Required: No
                                Length: TBD
                                Default Value: blank
                                Restrictions: N/A
                                Aliases: N/A
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Pin" type="PinType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The personal identification number or code associated with a gift card or
                                gift certificate.

                                Allowable Values: Text string.
                                Required: Yes
                                Length: 1-8
                                Default Value: blank
                                Restrictions: N/A
                                Aliases: N/A
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Amount" type="AmountBaseType">
                        <xsd:annotation>
                            <xsd:documentation>The currency amount applied to the card. This may be different from the
                                order total in the case of multiple tenders.

                                Represents a decimal currency with two decimal points. Sample value: 4.75.

                                Allowable Values: Two integers separated by a decimal point. .The second integer must be
                                two characters in length.
                                Required: No
                                Length: TBD
                                Default Value: blank
                                Restrictions: Note that this indicates only a quantity, not the type of currency being
                                used.
                                Aliases: N/A
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CustomAttributes" type="CustomAttributesType" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
                <xsd:attribute name="isMockPayment" type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Field will be set to true if the PAN used in the request is
                            a mock PAN (e.g. 4111111111111111).

                            Allowable Values: Boolean
                            Required: No
                            Length: N/A
                            Default Value: False
                            Restrictions: N/A
                            Aliases: N/A
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="CreditAccountPaymentType">
        <xsd:sequence>
            <xsd:element name="Amount" type="AmountBaseType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The currency amount applied to Bill Me Later payment. This may be different from
                        the order total in the case of multiple tenders.

                        Represents a decimal currency with two decimal points. Sample value: 4.75.

                        Allowable Values: Two integers separated by a decimal point. The second integer must be two
                        characters in length.
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: Note that this indicates only a quantity, not the type of currency being used.
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AmountAuthorized" type="AmountBaseType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The currency amount authorized for Bill Me Later payment. This has to match the
                        amount requested for authorization. Authorization for BML has to be completed before the order
                        is submitted and sent to OMS.

                        Represents a decimal currency with two decimal points. Sample value: 4.75.
                        Allowable Values: Two integers separated by a decimal point. .The second integer must be two
                        characters in length.
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: Note that this indicates only a quantity, not the type of currency being used.
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PaymentContext" type="PaymentContextOrderType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PayPalPaymentType">
        <xsd:complexContent>
            <xsd:extension base="CreditAccountPaymentType">
                <xsd:sequence>
                    <xsd:element name="CreateTimeStamp" type="xsd:dateTime">
                        <xsd:annotation>
                            <xsd:documentation>The time the payment was authorized. Should come from the Payment Service
                                CreditCardAuthReply/MessageHeader/CreateTimestamp

                                Allowable Values: DateTime
                                Date text: ISO 8601 standard with offset from UTC in datetime data format which is
                                yyyy-mm-ddTHH:mm:ss-hh:mm for e.g. 2012-01-11T14:19:05-06:00.
                                Required: No
                                Length: TBD
                                Default Value: blank
                                Restrictions: N/A
                                Aliases: N/A
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="PaymentRequestId" type="RequestId" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Globally identifies a request message and is used for duplicate request
                                protection.

                                Allowable Values: Text string
                                Required: No
                                Length: 40
                                Default Value: blank
                                Restrictions: N/A
                                Aliases: N/A
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Authorization" type="PayPalAuthorization"/>
                    <xsd:element name="CustomAttributes" type="CustomAttributesType" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SecureVerificationDataTypeRequest">
        <xsd:complexContent>
            <xsd:extension base="SecureVerificationDataOrderType">
                <xsd:sequence>
                    <xsd:element name="PayerAuthenticationResponse">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The Issuer Bank ACS (Access Control Server) authenticates
                                the cardholder.

                                The authentication result is represented by the Payer Authentication Response (PARes)
                                generated by the Card Issuer ACS.

                                Allowable Values: Text string
                                Required: Yes
                                Length: 10,000
                                Default Value: blank
                                Restrictions: N/A
                                Aliases: N/A
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10000"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PrepaidCreditCardPaymentType">
        <xsd:sequence>
            <xsd:element name="Amount" type="AmountBaseType">
                <xsd:annotation>
                    <xsd:documentation>The currency amount applied to the card. This may be different from the order
                        total in the case of multiple tenders.

                        Represents a decimal currency with two decimal points. Sample value: 4.75.
                        Allowable Values: Two integers separated by a decimal point. .The second integer must be two
                        characters in length.

                        Allowable Values: Text string
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Brand" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The brand name of the credit card used. Not validated, any value will work.
                        For example, "Visa", "Mastercard", etc.

                        Allowable Values: Text string
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CustomAttributes" type="CustomAttributesType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="TenderType" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Incoming tender type from marketplace
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="PrepaidPaymentType">
        <xsd:sequence>
            <xsd:element name="Amount" type="AmountBaseType">
                <xsd:annotation>
                    <xsd:documentation>The amount of Points applied

                        The currency amount applied to the card. This may be different from the order total in the case
                        of multiple tenders.

                        Represents a decimal currency with two decimal points. Sample value: 4.75.
                        Allowable Values: Two integers separated by a decimal point. .The second integer must be two
                        characters in length.

                        Allowable Values: Text string
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CustomAttributes" type="CustomAttributesType" minOccurs="0"/>
            <xsd:element name="TenderType" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Incoming tender type from marketplace
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="OrderItemListRequestType">
        <xsd:sequence>
            <xsd:element name="OrderItem" type="OrderItemRequestType" nillable="false" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OrderItemRequestType">
        <xsd:sequence>
            <xsd:element name="ItemId" type="ItemId">
                <xsd:annotation>
                    <xsd:documentation>Thet unique item id used to identify the item.
                        Allowable Values: Text string
                        Required: Yes
                        Length: 20
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Quantity" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation>Total quantity ordered
                        Allowable Values: Decimal
                        Required: Yes
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Description" type="ProductDescriptionRequestType" minOccurs="0"/>
            <xsd:element name="Department" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A unique ID that identifies the selected.

                        Allowable Values: text string
                        Required: Yes
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Pricing" type="OrderItemPricingRequest"/>
            <xsd:element name="ShippingProgram" minOccurs="0">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:annotation>
                            <xsd:documentation>
                                Optional field that indicates if this item is eligible under a shipping program for
                                benefits.
                                Currently, the only expected value for this element is ShopRunner.
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:extension base="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>
                                    optional authToken used for passing authentication token for particular
                                    shipping program
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:attribute name="authToken" type="xsd:string" use="optional">
                                <xsd:annotation>
                                    <xsd:documentation>This value is used for SHOPRUNNER integration. Allowable Values:
                                        Text string
                                        Required: No
                                        Length: TBD
                                        Default Value: blank
                                        Restrictions: N/A
                                        Aliases: N/A
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:attribute>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ShippingMethod" type="ShippingMethodType" minOccurs="0"/>
            <xsd:element name="StoreFrontDetails" type="StoreFrontDetails" minOccurs="0"/>
            <xsd:element name="FulfillmentChannel" type="FulfillmentType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>How the order is completed.

                        Allowable Values:
                        SHIP_TO_STORE
                        STORE_PICK_UP
                        SHIP_TO_HOME
                        STORE_RESERVATION
                        Required: Yes
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ProxyPickupDetails" type="ProxyPickupDetails" minOccurs="0"/>
            <xsd:element name="EstimatedDeliveryDate" type="EstimatedDeliveryDateType" minOccurs="0"/>
            <xsd:element name="NamedDeliveryDate" type="NamedDeliveryDateType" minOccurs="0"/>
            <xsd:element name="DeliveryInstructions" type="xsd:normalizedString" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Delivery Instructions are often collected using a textbox which can contain new
                        lines. JiBX and Sterling OMS XML parser may not properly handle new lines, especially since
                        Sterling OMS plans to use XML attributes for this field. We need to determine how and which
                        system will do the encoding.

                        Allowable Values: normalized string
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="VendorId" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>This field is the unique ID for the vendor of the product.

                        Used to map vendor to vendor admin for request routing logic.

                        Allowable Values: Text string
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="VendorName" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>This field is the text name of the vendor. Used by Vendor Ops and CS to determine
                        the vendor name for the item.

                        Allowable Values: Text string
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Gifting" type="GiftRequestType" minOccurs="0"/>
            <xsd:element name="ShopRunnerMessage" type="ShopRunnerMessageType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A promotional message to display to the customer

                        Allowable Values: Normalized text string.
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Customization" type="CustomizationServiceRequestType" minOccurs="0"/>
            <xsd:element name="SerialNumber" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Optional data for a small subset of products that have serial numbers.

                        Typically only used for items of Quantity = 1.

                        Allowable Values: Text string
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CustomAttributes" type="CustomAttributesType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="GiftRegistryCancelUrl" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Optional field used by OMS for cancellation of orders involving gift registry
                        items.

                        Allowable Values: Text string
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ReservationId" type="ReservationId" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Used for inventory reservation.

                        Identifier for an available to promise inventory reservation.

                        Allowable Values: Text string
                        Required: No
                        Length: 40
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="HTSCode" type="HTSCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Harmonized Tariff Code used for duties calculation.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation>The id field is used to uniquely identify the order item within an XML document to
                    allow XML references. It should not be used externally and is not required to be consistent between
                    various messages.

                    Allowable Values: ID
                    Required: Yes
                    Length: TBD
                    Default Value: blank
                    Restrictions: N/A
                    Aliases: N/A
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="webLineId" type="OrderItemLineNumber" use="required">
            <xsd:annotation>
                <xsd:documentation>Required field when submitting an order. Can be used by the webstore to retain the
                    sequence in which items were displayed in the basket.

                    Allowable Values: 1 to 999. It is recommended to start line numbers in an order with "1"
                    Required: Yes
                    Length: 3 characters
                    Default Value: blank
                    Restrictions: Line numbers must be unique within a submitted order.
                    Aliases: N/A
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="webSubLineId" type="OrderItemLineNumber" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    WebLineID + WebSubLineId = Determine a unique Order Line Item in OMS
                    Default value is 1
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="isHiddenGift" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation>Labels this item as a Hidden Gift Line.

                    Allowable Values: boolean
                    Required: No
                    Default Value: False
                    Restrictions: N/A
                    Aliases: N/A
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="taxAndDutyDisplay" type="TaxAndDutyDisplayType" use="optional">
            <xsd:annotation>
                <xsd:documentation>Line level attribute for Tax and Duty Display

                    Allowable Values: annotation
                    Consolidated Taxes Only - This means that a single tax line is displayed to consumers with no duties
                    line displayed, e.g. Sales Tax in the US

                    Individual Taxes Only -This means that one or more tax lines are displayed to consumers based on the
                    taxes returned from Vertex with no duties line displayed, e.g. GST, HST, PST, QST in Canada
                    No Taxes or Duties - This provides a way to message to consumers that no taxes or duties are being
                    charged as part of their purchase but that they may be responsible for payment of taxes and/or
                    duties upon delivery.
                    NOTE - This does not stop the TDF service from calculating taxes and duties so it is important that
                    if you don't want to charge taxes and duties that the TDF is not returning taxes and duties.
                    Taxes and Duties Consolidated in a Single Amount (aka International Handling Fee) - This provides a
                    way to roll all tax and duty amounts into a single amount and display that amount to a user
                    utilizing a single label. Also referred to as the "International Handling Fee"
                    Required: No
                    Length: TBD
                    Default Value: blank
                    Restrictions: N/A
                    Aliases: N/A
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="isSubscribable" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    Is the item eligible to be subscribed to
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="subscriptionRef" type="xsd:IDREF" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    If the item is part of a subscription (automatically generated order)
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="action" type="actionType" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="PriceGroupRequestType">
        <xsd:complexContent>
            <xsd:extension base="PriceGroupBaseType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="OrderItemPricingRequest">
        <xsd:sequence>
            <xsd:element name="Merchandise" type="PriceGroupRequestType"/>
            <xsd:element name="Shipping" type="PriceGroupRequestType" minOccurs="0"/>
            <xsd:element name="Duty" type="PriceGroupRequestType" minOccurs="0"/>
            <xsd:element name="Fees" type="PriceRequestFeeListType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CustomizationRequestType">
        <xsd:sequence>
            <xsd:element name="CustomizationId" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Optional value used to group customization instructions into logical sets.
                        Examples may be: "Stone2", "Left Shoulder"

                        Allowable Values: Integer
                        Required: No
                        Length: TBD
                        Default Value: 0
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Instructions" type="CustomizationInstructions">
                <xsd:annotation>
                    <xsd:documentation>Ordered list of individual CustomizationInstructions associated with a
                        Customization.

                        It is important for consuming applications to retain the sequence of elements contained within.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ExtendedPrice" type="PriceGroupRequestType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Optional charge associated to the given Customization.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ItemId" type="ItemId">
                <xsd:annotation>
                    <xsd:documentation>Optional item identifier used to identify an inventory item "(physical item or
                        accounting placeholder)".

                        Allowable Values: Text string
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Item" type="OrderItemReference" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        The id field is used by customer care to relate the customized item
                        within a customization relationship in the order.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CustomizationServiceRequestType">
        <xsd:sequence>
            <xsd:element name="Customizations" type="CustomizationsRequestType"/>
            <xsd:element name="BasePrice" type="PriceGroupRequestType" minOccurs="0"/>
            <xsd:element name="DisplayUrl" type="xsd:anyURI" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>An optional link for the customer to view detail of the customization.

                        The URL usually carries encoded customization detail as parameters.

                        Allowable Values: anyURL Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CustomizationsRequestType">
        <xsd:sequence>
            <xsd:element name="Customization" type="CustomizationRequestType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GiftRequestType">
        <xsd:sequence>
            <xsd:element name="Gift" type="GiftPackagingRequestType" minOccurs="0"/>
            <xsd:element name="GiftCard" type="PackslipType" minOccurs="0"/>
            <xsd:element name="Packslip" type="PackslipType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GiftPackagingRequestType">
        <xsd:sequence>
            <xsd:element name="ItemId" type="ItemId">
                <xsd:annotation>
                    <xsd:documentation>Represents the identifier for an inventoriable product. a.k.a. SKU

                        Allowable Values: Text string
                        Required: Yes
                        Length: 20
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Pricing" type="PriceGroupRequestType"/>
            <xsd:element name="Message" type="GiftMessage" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DestinationRequestType">
        <xsd:sequence>
            <xsd:element name="DestinationTarget" type="DestinationTarget"/>
            <xsd:element name="OrderItems" type="OrderItemReferenceList"/>
            <xsd:element name="Gifting" type="GiftRequestType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        For adding destination level gift wrap and packslips
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Phone" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Phone number

                        Allowable Values: Text string
                        Required: No
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation>The id field is used to uniquely identify the destination within an XML document to
                    allow XML references.

                    Allowable Values: ID
                    Required: Yes
                    Default Value: blank
                    Restrictions: N/A
                    Aliases: N/A
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="DestinationListRequestType">
        <xsd:sequence>
            <xsd:element name="Destination" type="DestinationRequestType" nillable="false" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ProductDescriptionRequestType">
        <xsd:complexContent>
            <xsd:extension base="ProductDescriptionBaseType">
                <xsd:sequence>
                    <xsd:element name="Color" type="ColorRequestType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Optional product color in the locale in which the order was taken.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Size" type="SizeRequestType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Optional product productSize in the locale in which the order was taken.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ScreenSize" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Attribute common for Television sets utilized in EHF Environment Handling Fee
                                calculations
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ColorRequestType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="id" use="required">
                    <xsd:annotation>
                        <xsd:documentation>A unique ID that identifies the selected.

                            Allowable Values: text string
                            Required: Yes
                            Length: TBD
                            Default Value: blank
                            Restrictions: N/A
                            Aliases: N/A
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="SizeRequestType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A unique ID that identifies the selected color.

                        Allowable Values: text string
                        Required: Yes
                        Length: TBD
                        Default Value: blank
                        Restrictions: N/A
                        Aliases: N/A
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:attribute name="id" use="required">
                    <xsd:annotation>
                        <xsd:documentation>A unique ID that identifies the selected size.

                            Allowable Values: text string
                            Required: Yes
                            Length: TBD
                            Default Value: blank
                            Restrictions: N/A
                            Aliases: N/A
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="ShippingRequestType">
        <xsd:sequence>
            <xsd:element name="ShipGroups" nillable="false">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ShipGroup" type="ShipGroupRequestType" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Destinations" type="DestinationsType" nillable="false"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ShipGroupRequestType">
        <xsd:sequence>
            <xsd:element name="DestinationTarget" type="DestinationTargetType"/>
            <xsd:element name="OrderItems" type="OrderItemReferenceList"/>
            <xsd:element name="Gifting" type="GiftRequestType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        For adding destination level gift wrap and packslips
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation>The id field is used to uniquely identify the destination within an XML document to
                    allow XML references.

                    Allowable Values: ID
                    Required: Yes
                    Length: TBD
                    Default Value: blank
                    Restrictions: N/A
                    Aliases: N/A
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="chargeType" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>The type of shipping charge. i.e. - FLAT, WEIGHT

                    Allowable Values: Text string
                    Required: Yes
                    Length: TBD
                    Default Value: blank
                    Restrictions: N/A
                    Aliases: N/A
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>


    <xsd:complexType name="PriceRequestFeeType">
        <xsd:sequence>
            <xsd:element name="FeeType" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Example: geoSurcharge</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Description" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Example: CA Recycling Fee $18.00. This field is not required as
                        fee type can give enough description like Recycling fees.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Amount" type="AmountBaseType"/>
            <xsd:element name="ItemId" type="ItemId">
                <xsd:annotation>
                    <xsd:documentation>

                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="TaxData" type="TaxData" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PriceRequestFeeListType">
        <xsd:sequence>
            <xsd:element name="Fee" type="PriceRequestFeeType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
